@keyframes bounce {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 2px);
  }
  50% {
    transform: translate(0, -7px);
  }
  90% {
    transform: translate(0, 4px);
  }
}
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* type scale */
body {
  font-family: Arial;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
  font-weight: 400;
  color: #414144;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
  color: #36BC41;
  font-family: Arial;
  font-weight: 600;
}

h1 {
  font-size: 4.2959687014rem;
  letter-spacing: -2.8px;
}

h2 {
  font-size: 3.3693872168rem;
  letter-spacing: -1.5px;
}

h3 {
  font-size: 2.6426566406rem;
  letter-spacing: -1.5px;
}

h4 {
  font-size: 2.072671875rem;
}

h5 {
  font-size: 1.625625rem;
  color: #414144;
}

h6 {
  font-size: 1.275rem;
}

h1 {
  margin-bottom: 48px;
  line-height: 1.15;
  font-weight: 800;
}

h2 {
  margin-bottom: 62px;
}

h3 {
  margin-bottom: 1em;
}

h4 {
  margin-bottom: 1em;
}

h5 {
  margin-bottom: 1em;
}

h6 {
  line-height: 1.5;
  margin-bottom: 0.5em;
}

p {
  font-size: 18px;
  margin-bottom: 1em;
}

p.lg {
  font-size: 22px;
  margin-bottom: 32px;
}

@media screen and (max-width: 800px), screen and (max-device-width: 800px) {
  h1 {
    font-size: 3.5em;
  }
}
a {
  color: #3344b3;
  font-weight: 600;
}

.btn {
  background-color: #3344b3;
  font-weight: 600;
  color: white;
  padding: 0.6em 1.25em;
  border-radius: 50px;
  display: inline-block;
  font-size: 1em;
}
.btn.lg {
  font-size: 18px;
}
.btn.green {
  background-color: #36BC41;
  box-shadow: 0 1px 2px 0 rgba(22, 116, 39, 0.35);
}
.btn.white {
  background-color: white;
  color: black;
  box-shadow: 0 1px 2px 0 rgba(22, 116, 39, 0.35);
}
.btn.playbtn {
  position: relative;
  padding-left: 1.85em;
}
.btn.playbtn:before {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: -55px;
  transform: translateX(-50%);
  background-image: url("../images/icons/ic-play.svg");
  background-repeat: no-repeat;
  background-size: 85%;
  background-color: white;
  border-radius: 100%;
  background-position: center;
}

#content {
  padding-top: 90px;
}

.container {
  width: calc(100% - 300px);
  max-width: 1800px;
  margin: 0px auto;
}

.header {
  display: flex;
  align-items: flex-start;
  align-items: center;
  padding: 1em 2.5em;
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: white;
}
.header .logo {
  max-width: 75px;
}
.header .logo img {
  display: block;
  width: 100%;
}
.header ul {
  position: absolute;
  left: 50%;
  top: 2.2em;
  transform: translateX(-50%);
  display: flex;
}
.header ul li {
  margin: 0px 1.5em;
}
.header ul li a {
  font-weight: 600;
  font-size: 1em;
  color: #5a5b64;
}
.header ul li a.active {
  color: #3344b3;
}
.header .btn {
  margin-left: auto;
  font-size: 0.9em;
}

.sub-header {
  background: linear-gradient(90deg, #F8F9FF 0%, #F0FBF3 100%);
  border-bottom: 1px solid #ebecf0;
  border-top: 1px solid #ebecf0;
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98;
}
.sub-header ul {
  margin: 0px auto;
  display: flex;
}
.sub-header ul li {
  margin: 0px 2em;
}
.sub-header ul a {
  color: #5a5b64;
  font-size: 14px;
}
.sub-header ul a.active {
  color: #3344b3;
}

.eccb-recognition {
  line-height: 1.2;
  color: #9B9B9B;
  font-weight: 600;
  font-size: 0.7em;
  position: fixed;
  bottom: 2em;
  left: 2.5em;
  text-align: center;
}
.eccb-recognition img {
  width: 100%;
  max-width: 30px;
  display: block;
  margin: 0px auto 10px;
}

.home {
  overflow: hidden;
}
.home .hero {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.home .hero .container {
  display: grid;
  grid-template-columns: 440px 1fr;
  grid-gap: 7.5%;
}
.home .hero .intro {
  padding-top: 6em;
}
.home .hero .intro .ctas {
  display: flex;
  align-items: center;
}
.home .hero .intro .ctas a {
  display: block;
  margin-right: 1em;
}
.home .hero .intro-assets {
  position: relative;
}
.home .hero .intro-assets .btn {
  display: block;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(40%, 0%);
  padding: 2px 10px;
  font-size: 14px;
}
.home .hero .intro-assets img {
  width: 115%;
  max-width: 1050px;
  min-width: 785px;
}
.home .countries {
  padding-top: 125px;
}
.home .countries .container p {
  max-width: 800px;
  margin: 0px auto;
  text-align: center;
}
.home .countries .container ul {
  max-width: 450px;
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
}
.home .countries .container ul li {
  max-width: 100px;
}
.home .countries .container ul li .img {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
}
.home .countries .container ul li .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home .countries .container p.note {
  max-width: 450px;
  font-size: 16px;
}
.home .how {
  padding-top: 125px;
}
.home .how .container {
  position: relative;
  display: grid;
  grid-template-columns: 390px 1fr;
  grid-gap: 6em;
}
.home .how .container .info {
  padding-top: 5em;
}
.home .how .container .info p {
  margin: 0px;
}
.home .how .container .img img {
  border-radius: 10px;
  display: block;
  max-width: 1100px;
  box-shadow: 0 10px 36px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.06);
}
.home .anyone {
  padding: 150px 0px 120px;
  /*background-color: #fbf7ed;*/
}
.home .anyone .container {
  display: grid;
  grid-template-columns: 390px 0.65fr;
  grid-gap: 6em;
  background-image: linear-gradient(0deg, #F8F9FF 0%, #F0FBF3 100%);
  border-radius: 10px;
  padding: 80px;
  padding-left: 50px;
}
.home .anyone .apps {
  position: relative;
}
.home .anyone .apps img {
  max-width: 140%;
  position: absolute;
  bottom: -80px;
  right: 0;
}
.home .anyone .info p.lg {
  margin-bottom: 1em;
}
.home .anyone .info .choose-path {
  display: flex;
  background-color: #282f28;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  margin-bottom: 3em;
}
.home .anyone .info .choose-path li {
  width: 50%;
  text-align: center;
}
.home .anyone .info .choose-path span {
  display: block;
  width: 100%;
  padding: 16px 25px;
  border-radius: 100px;
  cursor: pointer;
  color: white;
}
.home .anyone .info .choose-path span.active {
  background-color: #36BC41;
}
.home .anyone .info .path-information {
  position: relative;
}
.home .anyone .info .path-information > div {
  opacity: 0;
  visibility: hidden;
}
.home .anyone .info .path-information > div.active {
  opacity: 1;
  visibility: visible;
}
.home .anyone .info .path-information > div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}
.home .anyone .info .path-information .download {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #dbdbbe;
}
.home .anyone .info .path-information .download p {
  font-size: 14px;
  color: #62624c;
}
.home .anyone .info .path-information .download .ctas {
  display: flex;
  max-width: 300px;
}
.home .anyone .info .path-information .download .ctas a {
  display: block;
  margin-right: 0.5em;
}
.home .anyone .info .path-information .download .ctas img {
  width: 100%;
}
.home .anyone .carousel {
  transform: translateY(-30px);
}
.home .anyone .carousel img {
  width: 100%;
}

#content.consumer {
  padding-top: 144px;
}
#content.consumer .hero-img {
  position: absolute;
  top: 200px;
  right: 0;
  width: 50%;
  z-index: -1;
}
#content.consumer .hero .container {
  min-height: calc(100vh - 144px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}
#content.consumer .hero .container .info {
  max-width: 390px;
  align-self: flex-start;
  padding-top: 150px;
  padding-bottom: 150px;
}
#content.consumer .hero .container .img {
  padding-top: 100px;
}
#content.consumer .hero .container .img img {
  max-width: calc(100% + 150px);
  display: block;
}
#content.consumer .benefits {
  padding: 125px 0px;
}
#content.consumer .benefits .container .info {
  display: grid;
  grid-template-columns: 350px minmax(0, 1fr);
  grid-gap: 100px;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
}
#content.consumer .benefits .container .info h2 {
  position: sticky;
  top: 200px;
  margin: 0px;
}
#content.consumer .benefits .container .info img {
  max-width: 100%;
  border-radius: 10px 0px 0px 10px;
  margin-bottom: 100px;
  box-shadow: 0 10px 36px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.06);
}
#content.consumer .benefits .container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  justify-content: space-between;
}
#content.consumer .benefits .container ul li:last-child {
  margin: 0px;
}
#content.consumer .benefits .container ul li h6 {
  margin-bottom: 0.5em;
}
#content.consumer .benefits .container ul li p {
  margin: 0px;
  font-size: 16px;
}
#content.consumer .features {
  padding: 125px 0px;
  min-height: 100vh;
  background-image: linear-gradient(0deg, #F8F9FF 0%, #F0FBF3 100%);
}
#content.consumer .features .container .item {
  display: grid;
  grid-template-columns: 380px 0.8fr;
  grid-gap: 15%;
  align-items: flex-start;
  margin-bottom: 200px;
}
#content.consumer .features .container .item:last-child {
  margin: 0px;
}
#content.consumer .features .container .item .info {
  position: sticky;
  top: 250px;
}
#content.consumer .features .container .item i {
  color: #cbe3cd;
}
#content.consumer .features .container .item img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

#content.wheretouse {
  padding-top: 144px;
  background-image: linear-gradient(90deg, #F8F9FF 0%, #F0FBF3 100%);
}
#content.wheretouse .intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
  padding: 80px 0px 150px;
}
#content.wheretouse .intro img {
  max-width: 100%;
}
#content.wheretouse h1 {
  padding-top: 100px;
}
#content.wheretouse .country-nav {
  border-bottom: 2px solid #e7e7e7;
  padding-bottom: 1em;
  margin-bottom: 5em;
}
#content.wheretouse .country-nav ul {
  display: flex;
}
#content.wheretouse .country-nav ul li {
  margin-right: 50px;
}
#content.wheretouse .country-nav ul li:last-child {
  margin: 0px;
}
#content.wheretouse .country-nav ul li span {
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
  color: #838383;
}
#content.wheretouse .country-nav ul li span.active {
  color: black;
}
#content.wheretouse .merchant-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
}
#content.wheretouse a {
  display: flex;
  padding: 1em 1em;
  align-items: center;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
  position: relative;
}
#content.wheretouse a:after {
  content: "";
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(136deg, #2D48BB 0%, #18A54E 100%);
  z-index: -1;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
#content.wheretouse a:hover {
  box-shadow: 0 10px 36px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.06);
}
#content.wheretouse a:hover span {
  color: white;
}
#content.wheretouse a:hover:after {
  opacity: 1;
  transform: scale(1);
}
#content.wheretouse a .img {
  flex: 0 0 auto;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: #eee;
  margin-right: 1em;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2.5px 5px -1px rgba(50, 50, 93, 0.25), 0 4.5px 13px -1.5px rgba(0, 0, 0, 0.12);
}
#content.wheretouse a .img img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
#content.wheretouse a span {
  color: #414144;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
}

#content.get-started {
  padding: 0px;
}
#content.get-started .landing {
  min-height: 100vh;
  background-image: linear-gradient(0deg, #DFE3FB 0%, #F0FBF3 100%);
}

/*# sourceMappingURL=app.css.map */
