@keyframes bounce {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 2px);
  }
  50% {
    transform: translate(0, -7px);
  }
  90% {
    transform: translate(0, 4px);
  }
}
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* type scale */
body {
  font-family: Arial;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
  font-weight: 400;
  color: #1c1b1b;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
  color: #36BC41;
  font-family: Arial;
  font-weight: 600;
}

/*#content.business{
    h1,h2,h3,h4,h5,h6{color:$dcash-blue;}
}*/
h1 {
  font-size: 4.826809rem;
  letter-spacing: -2.8px;
}

h2 {
  font-size: 3.71293rem;
  letter-spacing: -1.5px;
}

h3 {
  font-size: 2.8561rem;
  letter-spacing: -1.5px;
}

h4 {
  font-size: 2.197rem;
}

h5 {
  font-size: 1.69rem;
  color: #414144;
}

h6 {
  font-size: 1.4rem;
}

h1 {
  margin-bottom: 48px;
  line-height: 1.15;
  font-weight: 800;
}

h2 {
  margin-bottom: 62px;
}

h3 {
  margin-bottom: 1em;
}

h4 {
  margin-bottom: 1em;
}

h5 {
  margin-bottom: 1em;
}

h6 {
  line-height: 1.1;
  margin-bottom: 1em;
}

p {
  font-size: 18px;
  margin-bottom: 1em;
}

p.lg {
  font-size: 20px;
  margin-bottom: 32px;
}

@media screen and (max-width: 800px), screen and (max-device-width: 800px) {
  h1 {
    font-size: 3.5em;
  }
}
a {
  color: #3344b3;
  font-weight: 600;
}

.btn {
  background-color: #3344b3;
  font-weight: 600;
  color: white;
  padding: 1em 1.75em;
  border-radius: 6px;
  display: inline-block;
  font-size: 1em;
}
.btn.lg {
  font-size: 18px;
}
.btn.green {
  background-color: #36BC41;
  box-shadow: 0 1px 2px 0 rgba(22, 116, 39, 0.35);
}
.btn.white {
  background-color: white;
  color: black;
  box-shadow: 0 1px 2px 0 rgba(22, 116, 39, 0.35);
}
.btn.playbtn {
  position: relative;
  padding-left: 1.85em;
}
.btn.playbtn:before {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: -55px;
  transform: translateX(-50%);
  background-image: url("../images/icons/ic-play.svg");
  background-repeat: no-repeat;
  background-size: 85%;
  background-color: white;
  border-radius: 100%;
  background-position: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

input, select, textarea {
  font-family: "Source Sans Pro", sans-serif;
  transition: all 0.25s ease-out;
}

select {
  border: 1px solid #e5eae7;
  background: url("../images/icons/ic-down.svg") no-repeat right 15px center, white;
  background-size: 12px;
  width: 100%;
  border-radius: 6px;
  box-shadow: none;
  font-size: 15px;
  padding: 14px;
  color: #36BC41;
  font-weight: 600;
  position: relative;
}

#content {
  padding-top: 81px;
}

.container {
  width: calc(100% - 300px);
  max-width: 1800px;
  margin: 0px auto;
}

.ctas {
  max-width: 350px;
  display: flex;
  margin-top: 3em;
}
.ctas.center {
  margin: 3em auto 0;
}
.ctas a {
  display: block;
  margin-right: 1em;
}
.ctas a:last-child {
  margin-right: 0px;
}
.ctas a img {
  max-width: 100%;
}

.eccb-recognition {
  line-height: 1.2;
  color: #9B9B9B;
  font-weight: 600;
  font-size: 0.7em;
  position: fixed;
  bottom: 2em;
  left: 2.5em;
  text-align: center;
}
.eccb-recognition img {
  width: 100%;
  max-width: 30px;
  display: block;
  margin: 0px auto 10px;
}

@media screen and (max-width: 1500px), screen and (max-device-width: 1500px) {
  .container {
    width: calc(100% - 200px);
  }
}
@media screen and (max-width: 950px), screen and (max-device-width: 950px) {
  .container {
    width: calc(100% - 35px);
  }

  .eccb-recognition {
    display: none;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.85em 2.5em;
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: white;
}
@supports (backdrop-filter: blur()) {
  .header {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
  }
}
.header .logo {
  max-width: 70px;
}
.header .logo img {
  display: block;
  width: 100%;
}
.header ul.product-nav {
  position: absolute;
  left: 50%;
  top: 2.2em;
  transform: translateX(-50%);
  display: flex;
}
.header ul.product-nav > li {
  margin: 0px 2em;
  position: relative;
}
.header ul.product-nav > li > a {
  font-weight: 600;
  font-size: 1em;
  color: #000;
  position: relative;
}
.header ul.product-nav > li > a i.ic {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-image: url("../images/icons/ic-down.svg");
  width: 10px;
  height: 10px;
  vertical-align: middle;
  margin-left: 2px;
}
.header ul.product-nav > li > a.active {
  color: #3344b3;
}
.header ul.product-nav > li > a.active:after {
  content: "";
  position: absolute;
  bottom: -28px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid gray;
  left: 50%;
  transform: translateX(-50%);
}
.header ul.product-nav > li:nth-child(1) .active {
  color: #36BC41;
}
.header ul.product-nav > li:nth-child(1) .active:after {
  border-bottom: 10px solid #36BC41;
}
.header ul.product-nav > li:nth-child(2) .active:after {
  border-bottom: 10px solid #3B29B3;
}
.header ul.product-nav > li .dropdown {
  position: absolute;
  width: 100%;
  left: -30px;
  top: 30px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 5px 20px 1px rgba(103, 104, 107, 0.22);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: translateY(5px);
  padding: 6px;
  min-width: 190px;
}
.header ul.product-nav > li .dropdown ul {
  display: block;
}
.header ul.product-nav > li .dropdown ul li {
  margin: 0px;
}
.header ul.product-nav > li .dropdown ul li a {
  padding: 14px 12px;
  font-weight: 400;
  font-size: 15px;
  display: block;
  border-radius: 4px;
}
.header ul.product-nav > li .dropdown ul li a:hover {
  background-color: #f3f4f9;
}
.header ul.product-nav > li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.header ul {
  display: flex;
}
.header ul li {
  margin-left: 2em;
}
.header ul li a {
  color: #5b5b5b;
  font-weight: 400;
  font-size: 16px;
}
.header ul li a.active {
  color: #3344b3;
}
.header .btn {
  margin-left: auto;
  font-size: 0.9em;
}

.sub-header {
  background-color: white;
  border-bottom: 1px solid #ebecf0;
  border-top: 1px solid #ebecf0;
  position: fixed;
  top: 81px;
  left: 0;
  width: 100%;
  padding: 0.85em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.sub-header ul {
  margin: 0px auto;
  display: flex;
}
.sub-header ul li {
  margin: 0px 2em;
}
.sub-header ul a {
  color: #5a5b64;
  font-size: 16px;
  font-weight: 400;
}
.sub-header ul a.active {
  color: #3344b3;
  font-weight: 600;
}
.sub-header.wallet-nav {
  background-color: #36BC41;
  border: none;
}
.sub-header.wallet-nav a {
  color: #c5ffd9;
}
.sub-header.wallet-nav a.active {
  color: #fff;
}
.sub-header.merchant-nav {
  background-color: #3B29B3;
  border: none;
}
.sub-header.merchant-nav a {
  color: #A2A6F9;
}
.sub-header.merchant-nav a.active {
  color: #fff;
  font-weight: 600;
}

@media screen and (max-width: 950px), screen and (max-device-width: 950px) {
  .header {
    padding: 0.5em 25px;
  }
  .header .logo {
    max-width: 60px;
  }
  .header ul.product-nav {
    display: none;
  }
  .header ul {
    display: none;
  }
}
.home {
  overflow: hidden;
}
.home .hero {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.home .hero .container {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-gap: 7.5%;
}
.home .hero .intro {
  padding-top: 6em;
}
.home .hero .intro .ctas {
  display: flex;
  align-items: center;
}
.home .hero .intro .ctas a {
  display: block;
  margin-right: 1em;
}
.home .hero .intro-assets {
  position: relative;
}
.home .hero .intro-assets .btn {
  display: block;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(40%, 0%);
  padding: 2px 10px;
  font-size: 14px;
}
.home .hero .intro-assets img {
  width: 115%;
  max-width: 1050px;
  min-width: 785px;
}
.home .countries {
  padding-top: 150px;
}
.home .countries .container p {
  max-width: 800px;
  margin: 0px auto;
  text-align: center;
}
.home .countries .container ul {
  max-width: 450px;
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
}
.home .countries .container ul li {
  max-width: 90px;
}
.home .countries .container ul li .img {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
}
.home .countries .container ul li .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.home .countries .container p.note {
  max-width: 450px;
  font-size: 16px;
}
.home .how {
  padding-top: 150px;
}
.home .how .container {
  position: relative;
  display: grid;
  grid-template-columns: 390px 1fr;
  grid-gap: 6em;
}
.home .how .container .info {
  padding-top: 5em;
}
.home .how .container .info p {
  margin: 0px;
}
.home .how .container .img img {
  border-radius: 10px;
  display: block;
  max-width: 1100px;
  box-shadow: 0 10px 36px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.06);
}
.home .anyone {
  padding: 150px 0px 120px;
  /*background-color: #fbf7ed;*/
}
.home .anyone .container {
  display: grid;
  grid-template-columns: 390px 0.65fr;
  grid-gap: 6em;
  background-image: linear-gradient(0deg, #F8F9FF 0%, #F0FBF3 100%);
  border-radius: 10px;
  padding: 80px;
  padding-left: 50px;
}
.home .anyone .apps {
  position: relative;
}
.home .anyone .apps img {
  max-width: 140%;
  position: absolute;
  bottom: -80px;
  right: 0;
}
.home .anyone .info p.lg {
  margin-bottom: 1em;
}
.home .anyone .info .choose-path {
  display: flex;
  background-color: #282f28;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  margin-bottom: 3em;
}
.home .anyone .info .choose-path li {
  width: 50%;
  text-align: center;
}
.home .anyone .info .choose-path span {
  display: block;
  width: 100%;
  padding: 16px 25px;
  border-radius: 100px;
  cursor: pointer;
  color: white;
}
.home .anyone .info .choose-path span.active {
  background-color: #36BC41;
}
.home .anyone .info .path-information {
  position: relative;
}
.home .anyone .info .path-information > div {
  opacity: 0;
  visibility: hidden;
}
.home .anyone .info .path-information > div.active {
  opacity: 1;
  visibility: visible;
}
.home .anyone .info .path-information > div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}
.home .anyone .info .path-information .download {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #dbdbbe;
}
.home .anyone .info .path-information .download p {
  font-size: 14px;
  color: #62624c;
}
.home .anyone .info .path-information .download .ctas {
  display: flex;
  max-width: 300px;
}
.home .anyone .info .path-information .download .ctas a {
  display: block;
  margin-right: 0.5em;
}
.home .anyone .info .path-information .download .ctas img {
  width: 100%;
}
.home .anyone .carousel {
  transform: translateY(-30px);
}
.home .anyone .carousel img {
  width: 100%;
}

#content.consumer {
  padding-top: 128px;
}
#content.consumer .intro {
  background-image: linear-gradient(-210deg, #140659 0%, #06CEA5 100%);
}
#content.consumer .intro .container {
  padding-top: 2em;
  padding-bottom: 3em;
  position: relative;
  z-index: 5;
  grid-gap: 5em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2em;
}
#content.consumer .intro .container .heading {
  grid-column: 1/-1;
}
#content.consumer .intro .container .heading h1 {
  background-image: linear-gradient(50deg, #2AAEFD 0%, #00D7AB 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  color: transparent;
  font-size: 14vw;
  letter-spacing: -10px;
}
#content.consumer .intro .container .info {
  margin: 0px;
  align-self: end;
}
#content.consumer .intro .container .info p {
  color: white;
}
#content.consumer .intro .container .phone {
  position: relative;
  padding-top: 40vh;
}
#content.consumer .intro .container .phone img {
  max-width: 90%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  top: -165px;
}
#content.consumer .intro .container .ctas {
  align-self: end;
  justify-self: end;
  max-width: 250px;
  display: block;
}
#content.consumer .intro .container .ctas img {
  display: block;
}
#content.consumer .intro .container .ctas .dl {
  max-width: 165px;
  margin: 0px auto 5px;
}
#content.consumer .intro .container .ctas a {
  margin: 0px;
}
#content.consumer .intro .container .ctas a.signup {
  color: #b8ffbd;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #b8ffbd;
}
#content.consumer .mason {
  padding-top: 150px;
}
#content.consumer .mason ul {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  grid-template-rows: 350px;
  grid-gap: 10px;
}
#content.consumer .mason ul li {
  border-radius: 6px;
  overflow: hidden;
}
#content.consumer .mason ul img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#content.consumer .benefits {
  padding: 125px 0px;
  overflow: hidden;
}
#content.consumer .benefits .container .img {
  margin-bottom: 200px;
  position: relative;
  z-index: 2;
}
#content.consumer .benefits .container .img img {
  border-radius: 15px;
  overflow: hidden;
  max-width: 100%;
  display: block;
}
#content.consumer .benefits .container .info {
  display: grid;
  grid-template-columns: 350px minmax(0, 1fr);
  grid-gap: 100px;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
}
#content.consumer .benefits .container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 65px;
  justify-content: space-between;
}
#content.consumer .benefits .container ul li:last-child {
  margin: 0px;
}
#content.consumer .benefits .container ul li h6 {
  margin-bottom: 0.5em;
}
#content.consumer .benefits .container ul li p {
  margin: 0px;
  font-size: 16px;
}
#content.consumer .features {
  padding: 150px 0px;
  min-height: 100vh;
  background-image: linear-gradient(0deg, #F8F9FF 0%, #F0FBF3 100%);
}
#content.consumer .features .container .grid-block {
  display: grid;
  grid-template-columns: 0.65fr 1fr;
  grid-gap: 5em;
  justify-content: space-between;
  margin-bottom: 5em;
}
#content.consumer .features .container .grid-block .item {
  border-radius: 15px;
  overflow: hidden;
}
#content.consumer .features .container .grid-block .item.text {
  align-self: center;
  box-shadow: none;
  max-width: 440px;
}
#content.consumer .features .container .grid-block .item.image {
  max-height: 500px;
  box-shadow: 0px 35px 80px 0px rgba(0, 0, 0, 0.15);
}
#content.consumer .features .container .grid-block .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#content.consumer .features .container .grid-block:last-child {
  margin: 0px;
}
#content.consumer .features .container .grid-block.reverse {
  grid-template-columns: 1fr 0.65fr;
}
#content.consumer .final-cta {
  padding: 250px 0px;
  background: linear-gradient(-210deg, #140659 0%, #06CEA5 100%);
  min-height: 500px;
  position: relative;
}
#content.consumer .final-cta .container {
  position: relative;
  z-index: 2;
}
#content.consumer .final-cta span {
  font-size: 4.5em;
  font-weight: 600;
  line-height: 1.2;
  color: transparent;
  background: linear-gradient(-30deg, #2AAEFD 0%, #00D7AB 100%);
  display: table;
  background-clip: text;
  text-align: center;
  margin: 0px auto;
}
#content.consumer .final-cta img.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: 1;
}
#content.consumer .final-cta .help {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 3em;
  transform: translateX(-50%);
  text-align: center;
}
#content.consumer .final-cta .help a {
  color: white;
}

#content.business {
  padding-top: 128px;
}
#content.business .intro {
  background-image: linear-gradient(0deg, #FFF 0%, #EAFFF0 100%);
}
#content.business .intro .container {
  padding-top: 2em;
  padding-bottom: 3em;
  position: relative;
  z-index: 5;
  grid-gap: 5em;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 2em;
}
#content.business .intro .container .heading {
  grid-column: 1/-1;
}
#content.business .intro .container .heading h1 {
  background-image: linear-gradient(50deg, #3B29B3 0%, #9EFFB7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  color: transparent;
  font-size: 14vw;
  letter-spacing: -10px;
}
#content.business .intro .container .info {
  margin: 0px;
  align-self: end;
}
#content.business .intro .container .phone {
  position: relative;
  padding-top: 40vh;
}
#content.business .intro .container .phone img {
  max-width: 75%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  top: -165px;
}
#content.business .intro .container .ctas {
  align-self: end;
  justify-self: end;
  max-width: 170px;
  display: block;
}
#content.business .intro .container .ctas a {
  margin: 0px;
}
#content.business .intro .mason {
  grid-column: 1/-1;
  overflow: hidden;
  margin-bottom: 150px;
}
#content.business .intro .mason ul {
  display: grid;
  grid-template-columns: repeat(5, 375px);
  grid-auto-flow: column;
  grid-template-rows: 520px;
  grid-gap: 3em;
}
#content.business .intro .mason ul li img {
  max-width: 100%;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#content.business .feature-container {
  overflow: hidden;
  padding: 0px 0px 150px;
}
#content.business .features .landing .intro-img {
  display: block;
  max-height: 650px;
  margin: 0px auto;
  position: relative;
  z-index: 2;
  border-radius: 15px;
  overflow: hidden;
}
#content.business .features .landing .intro-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#content.business .features .landing .right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5em;
  justify-content: center;
}
#content.business .features .landing .right h3, #content.business .features .landing .right h2 {
  grid-column: 1/-1;
  margin: 0px;
  text-align: center;
}
#content.business .features .landing .right p {
  font-size: 16px;
  margin: 0px;
}
#content.business .features .landing .right .feature {
  text-align: center;
}
#content.business .features .landing .right .feature img {
  max-width: 44px;
  margin: 0px auto 0.5em;
  display: block;
}
#content.business .why-container {
  width: 100%;
  position: relative;
  max-width: 1800px;
  margin: 0px auto;
  overflow: hidden;
}
#content.business .why {
  width: 100%;
  padding-bottom: 150px;
}
#content.business .why .grid-block {
  display: grid;
  grid-template-columns: 0.65fr 1fr;
  grid-gap: 5em;
  justify-content: space-between;
  margin-bottom: 5em;
}
#content.business .why .grid-block .item {
  border-radius: 15px;
  overflow: hidden;
}
#content.business .why .grid-block .item.text {
  align-self: center;
  box-shadow: none;
  max-width: 440px;
}
#content.business .why .grid-block .item.image {
  max-height: 500px;
  box-shadow: 0px 35px 80px 0px rgba(0, 0, 0, 0.15);
}
#content.business .why .grid-block .item h3 {
  margin: 0px;
}
#content.business .why .grid-block .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#content.business .why .grid-block:last-child {
  margin: 0px;
}
#content.business .why .grid-block.reverse {
  grid-template-columns: 1fr 0.65fr;
}
#content.business .crossborder-callout {
  padding: 150px 0px;
  overflow: hidden;
  background: linear-gradient(50deg, #3B29B3 0%, #9EFFB7 100%);
}
#content.business .crossborder-callout p {
  color: white;
}
#content.business .crossborder-callout .container {
  display: grid;
  grid-template-columns: 0.65fr 1fr;
  grid-gap: 5em;
  align-items: center;
}
#content.business .crossborder-callout .container .info {
  max-width: 465px;
}
#content.business .crossborder-callout .container .video {
  position: relative;
}
#content.business .crossborder-callout .container .video video {
  max-width: 100%;
  min-height: 500px;
  object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 35px 80px 0px rgba(0, 0, 0, 0.15);
}
#content.business .crossborder-callout h1 {
  font-weight: 400;
}
#content.business .more-reasons {
  padding: 150px 0px;
}
#content.business .more-reasons h3 {
  margin: 0px;
  grid-row: 1/4;
}
#content.business .more-reasons ul {
  display: grid;
  grid-template-columns: 1fr repeat(2, 0.7fr);
  justify-content: space-between;
  grid-gap: 5em;
}
#content.business .more-reasons ul p {
  margin: 0px;
}
#content.business .final-cta .container {
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 150px;
}
#content.business .final-cta .container > div {
  padding: 150px;
}
#content.business .final-cta .container > div.download {
  padding: 150px;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 25px 100px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
#content.business .final-cta .container > div.signup {
  background: linear-gradient(-30deg, #eff7ff 0%, #EAFFF0 100%);
  border-radius: 15px;
  overflow: hidden;
  margin-left: -20px;
}
#content.business .final-cta .container > div.signup p {
  margin-bottom: 2.5em;
}

#content.wheretouse {
  padding-top: 128px;
  background-image: linear-gradient(90deg, #F8F9FF 0%, #F0FBF3 100%);
  min-height: 100vh;
}
#content.wheretouse .intro {
  padding: 150px 0px 0px;
}
#content.wheretouse .intro img {
  max-width: 100%;
}
#content.wheretouse h2 {
  text-align: center;
}
#content.wheretouse .country-nav {
  margin: 5em auto 2em;
  display: table;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #c9d9cf;
}
#content.wheretouse .country-nav ul {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#content.wheretouse .country-nav ul li {
  margin-right: 1em;
  font-size: 16px;
  font-weight: 600;
  padding: 0px 0px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-out;
  color: #718c7d;
  position: relative;
  margin-right: 3em;
  padding: 8px 20px;
}
#content.wheretouse .country-nav ul li.last {
  margin: 0px;
}
#content.wheretouse .country-nav ul li:before {
  content: "";
  width: 35px;
  height: 20px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 50%;
  top: -24px;
  transform: scale(0.8) translateX(-50%);
  transform-origin: left;
  transition: all 0.15s ease-in;
}
#content.wheretouse .country-nav ul li.ant:before {
  background-image: url("../images/flags/antigua-and-barbuda-flag.png");
}
#content.wheretouse .country-nav ul li.gren:before {
  background-image: url("../images/flags/grenada-flag.png");
}
#content.wheretouse .country-nav ul li.stkn:before {
  background-image: url("../images/flags/saint-kitts-and-nevis-flag.png");
}
#content.wheretouse .country-nav ul li.stl:before {
  background-image: url("../images/flags/saint-lucia-flag.png");
}
#content.wheretouse .country-nav ul li.active {
  color: #3344b3;
}
#content.wheretouse .country-nav ul .indicator {
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: -1;
  width: 100px;
  height: 2px;
  background-color: #3344b3;
  border-radius: 25px;
  transition: all 0.3s ease;
}
#content.wheretouse .merchant-list {
  position: relative;
  margin-top: 75px;
}
#content.wheretouse .merchant-list .item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  transition: all 0.25s;
}
#content.wheretouse .merchant-list .item.active {
  opacity: 1;
  z-index: 2;
  visibility: visible;
}
#content.wheretouse a {
  display: flex;
  padding: 1em 1em;
  align-items: center;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
  position: relative;
}
#content.wheretouse a:after {
  content: "";
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(136deg, #2D48BB 0%, #18A54E 100%);
  z-index: -1;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
#content.wheretouse a:hover {
  box-shadow: 0 10px 36px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.06);
}
#content.wheretouse a:hover span {
  color: white;
}
#content.wheretouse a:hover:after {
  opacity: 1;
  transform: scale(1);
}
#content.wheretouse a .img {
  flex: 0 0 auto;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: #fff;
  margin-right: 1em;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2.5px 5px -1px rgba(50, 50, 93, 0.25), 0 4.5px 13px -1.5px rgba(0, 0, 0, 0.12);
}
#content.wheretouse a .img img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
#content.wheretouse a span {
  color: #414144;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
}

#content.fi {
  padding: 200px 0px;
  background-image: linear-gradient(-17deg, #FFF 50%, #EBFFEF 100%);
  min-height: 100vh;
  background-position-y: 70px;
}
#content.fi .bg {
  position: absolute;
  width: 39%;
  top: 40px;
  left: -12%;
}
#content.fi .container {
  position: relative;
  z-index: 2;
}
#content.fi .info {
  max-width: 800px;
  width: 100%;
  margin: 0px auto 5em;
  text-align: center;
}
#content.fi .info p {
  max-width: 500px;
  margin: 0px auto;
}
#content.fi .right {
  padding-top: 25px;
  max-width: 1000px;
  margin: 0px auto;
}
#content.fi .right .country-nav {
  margin: 0px auto 2em;
  display: table;
  position: relative;
  z-index: 1;
}
#content.fi .right .country-nav ul {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#content.fi .right .country-nav ul li {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-out;
  color: #718c7d;
  position: relative;
  margin-right: 3em;
  padding: 8px 20px;
}
#content.fi .right .country-nav ul li.last {
  margin: 0px;
}
#content.fi .right .country-nav ul li:before {
  content: "";
  width: 35px;
  height: 20px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 50%;
  top: -24px;
  transform: scale(0.8) translateX(-50%);
  transform-origin: left;
  transition: all 0.15s ease-in;
}
#content.fi .right .country-nav ul li.ant:before {
  background-image: url("../images/flags/antigua-and-barbuda-flag.png");
}
#content.fi .right .country-nav ul li.gren:before {
  background-image: url("../images/flags/grenada-flag.png");
}
#content.fi .right .country-nav ul li.stkn:before {
  background-image: url("../images/flags/saint-kitts-and-nevis-flag.png");
}
#content.fi .right .country-nav ul li.stl:before {
  background-image: url("../images/flags/saint-lucia-flag.png");
}
#content.fi .right .country-nav ul li.active {
  color: #3344b3;
}
#content.fi .right .country-nav ul .indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100px;
  height: 2px;
  background-color: #3344b3;
  border-radius: 25px;
  transition: all 0.3s ease;
}
#content.fi .right select {
  margin-bottom: 1em;
  display: none;
  position: sticky;
  top: 65px;
  z-index: 4;
  box-shadow: 0 4px 6px rgba(227, 229, 236, 0.72), 0 1px 3px rgba(0, 0, 0, 0.08);
}
#content.fi .right .fi-list {
  min-height: 600px;
  position: relative;
}
#content.fi .right .fi-list ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  transition: all 0.25s;
}
#content.fi .right .fi-list ul.active {
  opacity: 1;
  z-index: 2;
  visibility: visible;
}
#content.fi .right .fi-list ul li {
  font-weight: 400;
  color: #1c1b1b;
  padding: 1.5em 25px;
  border: 1px solid #c9d9cf;
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 2px;
  border-radius: 8px;
}
#content.fi .right .fi-list ul li .fi-logo {
  max-width: 60px;
  background-color: white;
  border-radius: 4px;
  margin-right: 15px;
  box-shadow: 0 4px 6px rgba(227, 229, 236, 0.72), 0 1px 3px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
#content.fi .right .fi-list ul li .fi-logo img {
  width: 100%;
  display: block;
}
#content.fi .right .fi-list ul li .fi-info span {
  display: block;
  margin-bottom: 0.2em;
  font-size: 16px;
  font-weight: 600;
}
#content.fi .right .fi-list ul li .fi-info .contact i {
  color: #59685f;
  font-size: 15px;
  display: inline-block;
}
#content.fi .right .fi-list ul li .fi-info .contact i:first-child {
  padding-right: 8px;
  border-right: 1px solid #c9d9cf;
}
#content.fi .right .fi-list ul li .fi-info .contact i:last-child {
  padding-left: 8px;
}

@media screen and (max-width: 1500px), screen and (max-device-width: 1500px) {
  #content.fi .right {
    margin-left: 3em;
  }
  #content.fi .right .country-nav ul li {
    margin-right: 1.5em;
  }
}
@media screen and (max-width: 1000px), screen and (max-device-width: 1000px) {
  #content.fi {
    padding: 120px 0px 100px;
  }
  #content.fi .container {
    display: block;
  }
  #content.fi .bg {
    display: none;
  }
  #content.fi .info {
    margin-bottom: 2em;
    max-width: 100%;
  }
  #content.fi .right {
    margin: 0px;
  }
  #content.fi .right .country-nav {
    display: none;
  }
  #content.fi .right select {
    display: block;
  }
  #content.fi .right .fi-list ul li .fi-info .contact i {
    display: block;
    padding: 0px;
  }
  #content.fi .right .fi-list ul li .fi-info .contact i:first-child, #content.fi .right .fi-list ul li .fi-info .contact i:last-child {
    padding: 0px;
    border: none;
  }
}
#content.learn {
  padding-top: 200px;
  background: linear-gradient(0deg, #F8F9FF 0%, #F0FBF3 100%);
  min-height: 100vh;
}
#content.learn .container {
  display: flex;
  min-height: calc(100vh - 250px);
}
#content.learn .lesson-list {
  overflow: hidden;
  max-width: 350px;
  width: 100%;
  margin: 0px auto;
  padding: 45px;
  background-color: white;
  box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.074);
  align-self: flex-start;
  border-radius: 8px;
  border-radius: 8px;
  position: sticky;
  top: 200px;
}
#content.learn .lesson-list li {
  margin-bottom: 30px;
}
#content.learn .lesson-list li:last-child {
  margin: 0px;
}
#content.learn .lesson-list a {
  font-size: 18px;
  color: #1f4022;
  display: block;
  font-weight: 400;
}
#content.learn .lesson-list a.active {
  color: #343eba;
}
#content.learn .lesson-list .sub {
  margin: 1em 0px;
  padding-left: 10px;
}
#content.learn .lesson-list .sub li {
  margin-bottom: 10px;
}
#content.learn .lesson-list .sub li:last-child {
  margin: 0px;
}
#content.learn .lesson-list .sub a {
  font-weight: 400;
  font-size: 14px;
  color: gray;
}
#content.learn .lesson-content {
  flex: 1;
  margin-left: 5em;
}
#content.learn .lesson-content.intro {
  text-align: center;
}
#content.learn .lesson-content .contain {
  max-width: 600px;
  margin: 0px auto;
  padding-bottom: 250px;
}
#content.learn .lesson-content .contain h4 {
  margin-top: 2em;
}
#content.learn .lesson-content .contain ul {
  padding-left: 25px;
}
#content.learn .lesson-content .contain ul li {
  list-style: disc;
  padding-left: 25px;
  margin-bottom: 2em;
}
#content.learn .lesson-content .contain ul li p {
  margin-bottom: 0px;
}
#content.learn .lesson-content .contain ol {
  padding-left: 25px;
  font-weight: 600;
}
#content.learn .lesson-content .contain ol li {
  list-style: number;
  padding-left: 25px;
  margin-bottom: 2em;
}
#content.learn .lesson-content .contain ol li p {
  margin-bottom: 0px;
  font-weight: 400;
}
#content.learn .lesson-content .contain ol li .sub {
  padding-left: 25px;
  margin: 1em 0px;
}
#content.learn .lesson-content .contain ol li .sub li {
  list-style: upper-roman;
}
#content.learn .lesson-content .contain ol li .sub p {
  font-size: 16px;
}
#content.learn .lesson-content .contain b {
  font-weight: 600;
}
#content.learn .lesson-content .contain .note {
  background-color: #fffee1;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 16px 40px 0px rgba(0, 0, 0, 0.074);
  font-size: 16px;
}

/*# sourceMappingURL=app.css.map */
