@keyframes bounce {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 2px);
  }
  50% {
    transform: translate(0, -7px);
  }
  90% {
    transform: translate(0, 4px);
  }
}
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* type scale */
body {
  font-family: Arial;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
  font-weight: 400;
  color: #1c1b1b;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
  color: #36BC41;
  font-family: Arial;
  font-weight: 400;
}

/*#content.business{
    h1,h2,h3,h4,h5,h6{color:$dcash-blue;}
}*/
h1 {
  font-size: 4.826809rem;
  letter-spacing: -2.8px;
}

h2 {
  font-size: 3.71293rem;
  letter-spacing: -1.5px;
}

h3 {
  font-size: 2.8561rem;
  letter-spacing: -1.5px;
}

h4 {
  font-size: 2.197rem;
}

h5 {
  font-size: 1.69rem;
  color: #414144;
}

h6 {
  font-size: 1.4rem;
}

h1 {
  margin-bottom: 48px;
  line-height: 1.15;
  font-weight: 800;
}

h2 {
  margin-bottom: 62px;
}

h3 {
  margin-bottom: 1em;
}

h4 {
  margin-bottom: 1em;
}

h5 {
  margin-bottom: 1em;
}

h6 {
  line-height: 1.1;
  margin-bottom: 1em;
}

p {
  font-size: 18px;
  margin-bottom: 1em;
}

p.lg {
  font-size: 22px;
  margin-bottom: 32px;
}

@media screen and (max-width: 800px), screen and (max-device-width: 800px) {
  h1 {
    font-size: 3.5em;
  }
}
a {
  color: #3344b3;
  font-weight: 600;
}

.btn {
  background-color: #3344b3;
  font-weight: 600;
  color: white;
  padding: 0.6em 1.25em;
  border-radius: 50px;
  display: inline-block;
  font-size: 1em;
}
.btn.lg {
  font-size: 18px;
}
.btn.green {
  background-color: #36BC41;
  box-shadow: 0 1px 2px 0 rgba(22, 116, 39, 0.35);
}
.btn.white {
  background-color: white;
  color: black;
  box-shadow: 0 1px 2px 0 rgba(22, 116, 39, 0.35);
}
.btn.playbtn {
  position: relative;
  padding-left: 1.85em;
}
.btn.playbtn:before {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  z-index: -1;
  left: 50%;
  top: -55px;
  transform: translateX(-50%);
  background-image: url("../images/icons/ic-play.svg");
  background-repeat: no-repeat;
  background-size: 85%;
  background-color: white;
  border-radius: 100%;
  background-position: center;
}

#content {
  padding-top: 90px;
}

.container {
  width: calc(100% - 300px);
  max-width: 1800px;
  margin: 0px auto;
}

.ctas {
  max-width: 350px;
  display: flex;
  margin-top: 3em;
}
.ctas.center {
  margin: 3em auto 0;
}
.ctas a {
  display: block;
  margin-right: 1em;
}
.ctas a:last-child {
  margin-right: 0px;
}
.ctas a img {
  max-width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2.5em;
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: white;
}
.header .logo {
  max-width: 75px;
}
.header .logo img {
  display: block;
  width: 100%;
}
.header ul.product-nav {
  position: absolute;
  left: 50%;
  top: 2.2em;
  transform: translateX(-50%);
  display: flex;
}
.header ul.product-nav li {
  margin: 0px 2em;
}
.header ul.product-nav li a {
  font-weight: 400;
  font-size: 1.2em;
  color: #000;
  position: relative;
}
.header ul.product-nav li a.active {
  color: #3344b3;
}
.header ul.product-nav li a.active:after {
  content: "";
  position: absolute;
  bottom: -32px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid gray;
  left: 50%;
  transform: translateX(-50%);
}
.header ul.product-nav li:nth-child(1) .active {
  color: #36BC41;
}
.header ul.product-nav li:nth-child(1) .active:after {
  border-bottom: 10px solid #36BC41;
}
.header ul.product-nav li:nth-child(2) .active:after {
  border-bottom: 10px solid #3B29B3;
}
.header ul {
  display: flex;
}
.header ul li {
  margin-left: 2em;
}
.header ul li a {
  color: #707075;
  font-weight: 400;
  font-size: 16px;
}
.header ul li a.active {
  color: #3344b3;
}
.header .btn {
  margin-left: auto;
  font-size: 0.9em;
}

.sub-header {
  background-color: white;
  border-bottom: 1px solid #ebecf0;
  border-top: 1px solid #ebecf0;
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.sub-header ul {
  margin: 0px auto;
  display: flex;
}
.sub-header ul li {
  margin: 0px 2em;
}
.sub-header ul a {
  color: #5a5b64;
  font-size: 16px;
  font-weight: 400;
}
.sub-header ul a.active {
  color: #3344b3;
  font-weight: 600;
}
.sub-header.wallet-nav {
  background-color: #36BC41;
  border: none;
}
.sub-header.wallet-nav a {
  color: #c5ffd9;
}
.sub-header.wallet-nav a.active {
  color: #fff;
}
.sub-header.merchant-nav {
  background-color: #3B29B3;
  border: none;
}
.sub-header.merchant-nav a {
  color: #A2A6F9;
}
.sub-header.merchant-nav a.active {
  color: #fff;
  font-weight: 600;
}

.eccb-recognition {
  line-height: 1.2;
  color: #9B9B9B;
  font-weight: 600;
  font-size: 0.7em;
  position: fixed;
  bottom: 2em;
  left: 2.5em;
  text-align: center;
}
.eccb-recognition img {
  width: 100%;
  max-width: 30px;
  display: block;
  margin: 0px auto 10px;
}

.home {
  overflow: hidden;
}
.home .hero {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.home .hero .container {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-gap: 7.5%;
}
.home .hero .intro {
  padding-top: 6em;
}
.home .hero .intro .ctas {
  display: flex;
  align-items: center;
}
.home .hero .intro .ctas a {
  display: block;
  margin-right: 1em;
}
.home .hero .intro-assets {
  position: relative;
}
.home .hero .intro-assets .btn {
  display: block;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(40%, 0%);
  padding: 2px 10px;
  font-size: 14px;
}
.home .hero .intro-assets img {
  width: 115%;
  max-width: 1050px;
  min-width: 785px;
}
.home .countries {
  padding-top: 125px;
}
.home .countries .container p {
  max-width: 800px;
  margin: 0px auto;
  text-align: center;
}
.home .countries .container ul {
  max-width: 450px;
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
}
.home .countries .container ul li {
  max-width: 90px;
}
.home .countries .container ul li .img {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
}
.home .countries .container ul li .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.home .countries .container p.note {
  max-width: 450px;
  font-size: 16px;
}
.home .how {
  padding-top: 125px;
}
.home .how .container {
  position: relative;
  display: grid;
  grid-template-columns: 390px 1fr;
  grid-gap: 6em;
}
.home .how .container .info {
  padding-top: 5em;
}
.home .how .container .info p {
  margin: 0px;
}
.home .how .container .img img {
  border-radius: 10px;
  display: block;
  max-width: 1100px;
  box-shadow: 0 10px 36px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.06);
}
.home .anyone {
  padding: 150px 0px 120px;
  /*background-color: #fbf7ed;*/
}
.home .anyone .container {
  display: grid;
  grid-template-columns: 390px 0.65fr;
  grid-gap: 6em;
  background-image: linear-gradient(0deg, #F8F9FF 0%, #F0FBF3 100%);
  border-radius: 10px;
  padding: 80px;
  padding-left: 50px;
}
.home .anyone .apps {
  position: relative;
}
.home .anyone .apps img {
  max-width: 140%;
  position: absolute;
  bottom: -80px;
  right: 0;
}
.home .anyone .info p.lg {
  margin-bottom: 1em;
}
.home .anyone .info .choose-path {
  display: flex;
  background-color: #282f28;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  margin-bottom: 3em;
}
.home .anyone .info .choose-path li {
  width: 50%;
  text-align: center;
}
.home .anyone .info .choose-path span {
  display: block;
  width: 100%;
  padding: 16px 25px;
  border-radius: 100px;
  cursor: pointer;
  color: white;
}
.home .anyone .info .choose-path span.active {
  background-color: #36BC41;
}
.home .anyone .info .path-information {
  position: relative;
}
.home .anyone .info .path-information > div {
  opacity: 0;
  visibility: hidden;
}
.home .anyone .info .path-information > div.active {
  opacity: 1;
  visibility: visible;
}
.home .anyone .info .path-information > div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}
.home .anyone .info .path-information .download {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #dbdbbe;
}
.home .anyone .info .path-information .download p {
  font-size: 14px;
  color: #62624c;
}
.home .anyone .info .path-information .download .ctas {
  display: flex;
  max-width: 300px;
}
.home .anyone .info .path-information .download .ctas a {
  display: block;
  margin-right: 0.5em;
}
.home .anyone .info .path-information .download .ctas img {
  width: 100%;
}
.home .anyone .carousel {
  transform: translateY(-30px);
}
.home .anyone .carousel img {
  width: 100%;
}

#content.consumer {
  padding-top: 143px;
  background-image: url(../images/consumer/consumer-hero2.jpg);
  background-size: 100%;
  background-position: 0px 60px;
  background-repeat: no-repeat;
}
#content.consumer .hero-img {
  position: absolute;
  top: 200px;
  right: 0;
  width: 45%;
  z-index: 1;
}
#content.consumer .hero .container {
  min-height: calc(100vh - 144px);
}
#content.consumer .hero .container .info {
  max-width: 490px;
  align-self: flex-start;
  padding-top: 150px;
  padding-bottom: 150px;
}
#content.consumer .hero .container .info p {
  color: white;
}
#content.consumer .hero .container .img {
  padding-top: 100px;
}
#content.consumer .hero .container .img img {
  max-width: calc(100% + 150px);
  display: block;
}
#content.consumer .benefits {
  padding: 125px 0px;
  overflow: hidden;
}
#content.consumer .benefits .container .img {
  margin-bottom: 200px;
  transform: scale(1.5);
  transform-origin: top center;
  position: relative;
  z-index: 2;
}
#content.consumer .benefits .container .img img {
  border-radius: 15px;
  overflow: hidden;
  max-width: 100%;
  display: block;
}
#content.consumer .benefits .container .info {
  display: grid;
  grid-template-columns: 350px minmax(0, 1fr);
  grid-gap: 100px;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
}
#content.consumer .benefits .container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 65px;
  justify-content: space-between;
}
#content.consumer .benefits .container ul li:last-child {
  margin: 0px;
}
#content.consumer .benefits .container ul li h6 {
  margin-bottom: 0.5em;
}
#content.consumer .benefits .container ul li p {
  margin: 0px;
  font-size: 16px;
}
#content.consumer .features {
  padding: 125px 0px;
  min-height: 100vh;
  background-image: linear-gradient(0deg, #F8F9FF 0%, #F0FBF3 100%);
}
#content.consumer .features .container .item {
  display: grid;
  grid-template-columns: 380px 0.8fr;
  grid-gap: 15%;
  align-items: flex-start;
  margin-bottom: 200px;
}
#content.consumer .features .container .item:last-child {
  margin: 0px;
}
#content.consumer .features .container .item .info {
  position: sticky;
  top: 250px;
}
#content.consumer .features .container .item i {
  color: #cbe3cd;
}
#content.consumer .features .container .item img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

#content.business {
  padding-top: 143px;
  background-image: url("../images/merchants/business-hero4.jpg");
  background-size: 100%;
  background-position: 0px -120px;
  background-repeat: no-repeat;
}
#content.business .intro {
  background-repeat: no-repeat;
}
#content.business .intro .container {
  position: relative;
  z-index: 5;
}
#content.business .intro .container .info {
  padding: 150px 0px 150px;
  text-align: center;
  max-width: 590px;
  margin: 0px auto;
}
#content.business .feature-container {
  overflow: hidden;
  padding: 0px 0px 150px;
}
#content.business .features .landing {
  display: grid;
  grid-template-columns: 1fr 0.65fr;
  grid-column-gap: 5em;
  justify-content: space-between;
  transform-origin: top center;
}
#content.business .features .landing .intro-img {
  display: block;
  min-height: 550px;
  margin: 0px auto;
  transform-origin: top center;
  transform: scale(2.3) translateX(125px);
  position: relative;
  z-index: 2;
}
#content.business .features .landing .intro-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
}
#content.business .features .landing .right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  align-self: start;
}
#content.business .features .landing .right h3 {
  opacity: 0;
  grid-column: 1/-1;
  margin: 0px;
  transform: scale(1.1);
}
#content.business .features .landing .right p {
  font-size: 16px;
  margin: 0px;
}
#content.business .features .landing .right .feature {
  padding-right: 10%;
  opacity: 0;
  transform: scale(1.1);
}
#content.business .features .landing .right .feature img {
  max-width: 44px;
  margin-bottom: 0.5em;
  display: block;
}
#content.business .why-container {
  width: 100%;
  position: relative;
  max-width: 1800px;
  margin: 0px auto;
  overflow: hidden;
}
#content.business .why {
  width: 100%;
  padding-bottom: 5em;
  transform: scale(2.3) translateX(-290px);
  transform-origin: top;
}
#content.business .why .grid-block {
  display: grid;
  grid-template-columns: 0.65fr 1fr;
  grid-gap: 5em;
  justify-content: space-between;
  margin-bottom: 5em;
}
#content.business .why .grid-block .item {
  border-radius: 15px;
  overflow: hidden;
}
#content.business .why .grid-block .item.text {
  align-self: center;
  box-shadow: none;
  max-width: 440px;
}
#content.business .why .grid-block .item.image {
  max-height: 500px;
}
#content.business .why .grid-block .item h3 {
  margin: 0px;
}
#content.business .why .grid-block .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#content.business .why .grid-block:last-child {
  margin: 0px;
}
#content.business .why .grid-block.first .text {
  opacity: 0;
}
#content.business .why .grid-block.reverse {
  grid-template-columns: 1fr 0.65fr;
}
#content.business .crossborder-callout {
  padding-bottom: 125px;
  overflow: hidden;
}
#content.business .crossborder-callout .container {
  display: grid;
  grid-template-columns: 0.65fr 1fr;
  grid-gap: 5em;
  align-items: center;
}
#content.business .crossborder-callout .container .info {
  max-width: 465px;
}
#content.business .crossborder-callout .container .video {
  position: relative;
}
#content.business .crossborder-callout .container .video video {
  margin-bottom: 50px;
  max-width: 100%;
  min-height: 500px;
  object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
}
#content.business .crossborder-callout .container .video .video-bg {
  background-color: #3B29B3;
  position: absolute;
  height: calc(100% - 50px);
  width: 105%;
  bottom: 0px;
  z-index: -1;
  border-radius: 15px;
  left: 180px;
}
#content.business .crossborder-callout h1 {
  font-weight: 400;
}

#content.wheretouse {
  padding-top: 143px;
  background-image: linear-gradient(90deg, #F8F9FF 0%, #F0FBF3 100%);
}
#content.wheretouse .intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
  padding: 80px 0px 150px;
}
#content.wheretouse .intro img {
  max-width: 100%;
}
#content.wheretouse h1 {
  padding-top: 100px;
}
#content.wheretouse .country-nav {
  border-bottom: 2px solid #e7e7e7;
  padding-bottom: 1em;
  margin-bottom: 5em;
}
#content.wheretouse .country-nav ul {
  display: flex;
}
#content.wheretouse .country-nav ul li {
  margin-right: 50px;
}
#content.wheretouse .country-nav ul li:last-child {
  margin: 0px;
}
#content.wheretouse .country-nav ul li span {
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
  color: #838383;
}
#content.wheretouse .country-nav ul li span.active {
  color: black;
}
#content.wheretouse .merchant-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
}
#content.wheretouse a {
  display: flex;
  padding: 1em 1em;
  align-items: center;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
  position: relative;
}
#content.wheretouse a:after {
  content: "";
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(136deg, #2D48BB 0%, #18A54E 100%);
  z-index: -1;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
#content.wheretouse a:hover {
  box-shadow: 0 10px 36px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.06);
}
#content.wheretouse a:hover span {
  color: white;
}
#content.wheretouse a:hover:after {
  opacity: 1;
  transform: scale(1);
}
#content.wheretouse a .img {
  flex: 0 0 auto;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: #eee;
  margin-right: 1em;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2.5px 5px -1px rgba(50, 50, 93, 0.25), 0 4.5px 13px -1.5px rgba(0, 0, 0, 0.12);
}
#content.wheretouse a .img img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
#content.wheretouse a span {
  color: #414144;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
}

#content.fi {
  padding: 150px 0px;
  background-image: linear-gradient(-17deg, #F4F5FF 0%, #EBFFEF 100%);
  min-height: 100vh;
}
#content.fi .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#content.fi .left {
  max-width: 360px;
  width: 100%;
}
#content.fi .right {
  flex: 1;
  margin-left: 8em;
  border-radius: 15px;
}
#content.fi .right .country-nav {
  margin: 0px auto 2em;
  display: table;
  position: relative;
  z-index: 1;
}
#content.fi .right .country-nav ul {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 10px 0px;
}
#content.fi .right .country-nav ul li {
  margin-right: 1em;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 25px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-out;
  color: #718c7d;
  position: relative;
}
#content.fi .right .country-nav ul li.active {
  color: white;
}
#content.fi .right .country-nav ul li.last {
  margin: 0px;
}
#content.fi .right .country-nav ul .indicator {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100px;
  height: 100%;
  background-color: #3344b3;
  border-radius: 25px;
  transition: all 0.35s cubic-bezier(0.65, 0, 0.35, 1);
}
#content.fi .right .fi-list {
  background-color: white;
  border: 1px solid #e5eae7;
  border-radius: 15px;
  overflow: hidden;
}
#content.fi .right .fi-list ul {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0ms 100ms, opacity 1000ms 0ms;
}
#content.fi .right .fi-list ul.active {
  height: auto;
  opacity: 1;
  transition: height 0ms 0ms, opacity 1500ms 0ms;
}
#content.fi .right .fi-list ul li a {
  font-size: 18px;
  font-weight: 400;
  color: #1c1b1b;
  padding: 1.5em;
  display: block;
  border-bottom: 1px solid #e5eae7;
}
#content.fi .right .fi-list ul li:last-child a {
  border-bottom: none;
}

/*# sourceMappingURL=app.css.map */
