.header{
    display:flex;
    align-items:flex-start;
    padding:2em 2.5em;
    position:fixed;
    z-index:99;
    width:100%;

    .logo{
        max-width:75px;

        img{display:block; width:100%;}
    }

    ul{
        position:absolute;
        left:50%;
        top:2.5em;
        transform:translateX(-50%);
        display:flex;

        li{
            margin:0px 1.5em;

            a{font-weight:600; font-size:1em; color:#5a5b64;}
        }
    }

    .btn{margin-left: auto; font-size:0.9em;}
}