.header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:1em 2.5em;
    position:fixed;
    z-index:99;
    width:100%;
    background-color:white;

    .logo{
        max-width:75px;

        img{display:block; width:100%;}
    }

    ul.product-nav{
        position:absolute;
        left:50%;
        top:2.2em;
        transform:translateX(-50%);
        display:flex;

        li{
            margin:0px 2em;

            a{
                font-weight:400; 
                font-size:1.2em; 
                color:#000;
                position:relative;

                &.active{
                    color:$dcash-blue;

                    &:after{
                        content: "";
                        position: absolute;
                        bottom: -32px;
                        width: 0px;
                        height: 0px;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid gray;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            &:nth-child(1) .active{
                color:$dcash-green;
                &:after{
                    border-bottom: 10px solid $dcash-green;
                }
            }
    
            &:nth-child(2) .active:after{
                border-bottom: 10px solid #3B29B3;
            }
        }
    }

    ul{
        display:flex;
        li{
            margin-left: 2em;

            a{color:#707075; font-weight: 400; font-size: 16px;
                &.active{color:$dcash-blue;}
            }
        }
    }

    .btn{margin-left: auto; font-size:0.9em;}
}

.sub-header{
    background-color:white;
    border-bottom:1px solid #ebecf0;
    border-top:1px solid #ebecf0;
    position:fixed;
    top:$header-height;
    left:0;  
    width:100%;
    padding:1em 0;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:98;
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);

    ul{
        margin:0px auto;
        display:flex;

        li{margin:0px 2em;}
        a{
            color:#5a5b64; 
            font-size:16px;
            font-weight:400;
            &.active{color:$dcash-blue; font-weight: 600;}
        }
    }

    &.wallet-nav{
        background-color:$dcash-green;
        border:none;

        a{ 
            color:#c5ffd9;
            &.active{color:#fff;}
        }

    }

    &.merchant-nav{
        background-color:#3B29B3;
        border:none;

        a{ 
            color:#A2A6F9;
            &.active{color:#fff; font-weight: 600;}
        }

    }
}