#content.consumer{
    padding-top:$header-with-sub-height;

    .hero{
        min-height:100vh;
    
    }


    //Benefits Section
    .benefits{
        padding:125px 0px;
        .container{
            .info{
                display:grid;
                grid-template-columns: 310px 310px 1fr;
                grid-gap:8em;

                .img{
                    img{max-width: 100%;}
                }
                h3{margin-bottom: 2em;}
                ul{
                    li{
                        margin-bottom: 70px;;
                        p{margin:0px;}
                    }
                }
            }
        }
    }

}