#content.consumer{
    padding-top:$header-with-sub-height;
    background-image: url(../images/consumer/consumer-hero2.jpg);
    background-size:100%;
    background-position: 0px 60px;
    background-repeat: no-repeat;
    .hero-img{
        position:absolute;
        top:200px;
        right:0;
        width:45%;
        z-index: 1;
    }
    .hero{

        .container{
            min-height: calc(100vh - 144px);

            .info{
                max-width: 490px;
                align-self: flex-start;
                padding-top: 150px;
                padding-bottom: 150px;

                p{color:white;}
            }

            .img{
                padding-top:100px;
                img{max-width: calc(100% + 150px); display: block;}
            }
        }
    }


    //Benefits Section
    .benefits{
        padding:125px 0px;
        overflow:hidden;
        .container{

            .img{
                margin-bottom: 200px;
                transform:scale(1.5);
                transform-origin: top center;
                position:relative;
                z-index:2;
                img{
                    @include img-border;
                    box-shadow:0 10px 36px 0 rgba(0, 0, 0, 0.16);
                    max-width: 100%;
                    display:block;
                }
            }
            .info{
                display: grid;
                grid-template-columns: 350px minmax(0, 1fr);
                grid-gap: 100px;
                justify-content: space-between;
                position: relative;
                align-items: flex-start;
            }

            ul{
                display:grid;
                grid-template-columns:1fr 1fr 1fr;
                grid-column-gap:100px;
                grid-row-gap:65px;
                justify-content:space-between;
                li{
                    &:last-child{margin:0px;}
                    h6{margin-bottom:0.5em;}
                    p{margin:0px; font-size:16px;}
                }
            }
        }
    }

    .features{
        padding:$section-padding 0px;
        min-height: 100vh;
        background-image: linear-gradient(0deg, #F8F9FF 0%, #F0FBF3 100%);

        .container{
            
            .item{
                display: grid;
                grid-template-columns: 380px 0.8fr;
                grid-gap:15%;
                align-items: flex-start;
                margin-bottom: 200px;
                &:last-child{margin:0px;}

                .info{position:sticky; top:250px;}
                i{color:#cbe3cd;}

                img{
                    max-width:100%; 
                    display:block; 
                    border-radius: 10px;
                }
            }

        }
    }

}