#content.fi{
    padding:200px 0px;
    background-image: linear-gradient(-17deg, #FFF 50%, #EBFFEF 100%);
    min-height: 100vh;
    background-position-y: 70px;

    .bg{
        position: absolute;
        width: 39%;
        top: 40px;
        left: -12%;
    }

    .container{position:relative; z-index:2;}


    .info{
        max-width: 800px;
        width:100%;
        margin:0px auto 5em;
        text-align:center;


        p{max-width: 500px; margin:0px auto;}
    }

    .right{
        padding-top:25px;
        max-width:1000px;
        margin:0px auto;


        .country-nav{
            margin: 0px auto 2em;
            display:table;
            position:relative;
            z-index:1;
            ul{
                display:flex;
                flex-wrap:wrap;
                position:relative;

                li{
                    font-size:15px;
                    font-weight:600;
                    cursor:pointer;
                    text-align:center;
                    transition:all 0.3s ease-out;
                    color:#718c7d;
                    position:relative;
                    margin-right:3em;
                    padding:8px 20px;

                    
                    &.last{margin:0px;}

                    &:before{
                        content:'';
                        width: 35px;
                        height: 20px;
                        border-radius: 3px;
                        background-repeat: no-repeat;
                        background-size:cover;
                        background-position:center;
                        position:absolute;
                        left:50%;
                        top:-24px;
                        transform:scale(0.8) translateX(-50%);
                        transform-origin: left;
                        transition:all 0.15s ease-in;

                    }
                    &.ant:before{
                        background-image: url('../images/flags/antigua-and-barbuda-flag.png');
                    }
                    &.gren:before{
                        background-image: url('../images/flags/grenada-flag.png');
                    }
                    &.stkn:before{
                        background-image: url('../images/flags/saint-kitts-and-nevis-flag.png');
                    }
                    &.stl:before{
                        background-image: url('../images/flags/saint-lucia-flag.png');
                    }

                    &.active{color:$dcash-blue;}
                }
                .indicator{
                    position:absolute;
                    bottom:0;
                    left:0;
                    z-index:-1;
                    width:100px;
                    height:2px;
                    background-color: $dcash-blue;
                    border-radius:25px;
                    transition:all .3s ease;
                }

            }
        }

        select{
            margin-bottom: 1em;
            display:none;
            position: sticky;
            top: 65px;
            z-index: 4;
            box-shadow: 0 4px 6px rgba(227, 229, 236, 0.72), 0 1px 3px rgba(0, 0, 0, 0.08);
            }

        .fi-list{
            min-height:600px;
            position:relative;

            ul{
                opacity: 0;
                visibility:hidden;
                position:absolute;
                top:0;
                left:0;
                z-index:1;
                width:100%;
                transition: all 0.25s;

                &.active{
                   opacity: 1;
                   z-index:2;
                   visibility:visible;
                }

                li{
                    font-weight:400;
                    color:#1c1b1b;
                    padding:1.5em 25px;
                    border:1px solid #c9d9cf;
                    display:flex;
                    align-items:center;
                    background-color: white;
                    margin-bottom: 2px;
                    border-radius: 8px;
                    
                    .fi-logo{
                        max-width: 60px;
                        background-color: white;
                        border-radius: 4px;
                        margin-right:15px;
                        box-shadow:0 4px 6px rgba(227, 229, 236, 0.72),0 1px 3px rgba(0, 0, 0, 0.08);
                        overflow:hidden;
                        img{width:100%; display:block;}
                    }

                    .fi-info{
                        span{display:block; margin-bottom: 0.2em; font-size: 16px; font-weight: 600;}

                        .contact{
                            i{
                                color:#59685f; 
                                font-size:15px;
                                display:inline-block;

                                &:first-child{padding-right: 8px; border-right: 1px solid #c9d9cf;}
                                &:last-child{padding-left: 8px;}
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1500px), screen and(max-device-width:1500px){
    #content.fi{
        .right{
            margin-left: 3em;
            .country-nav ul li{margin-right:1.5em;}
        }
    }
}


@media screen and (max-width:1000px), screen and(max-device-width:1000px){

    #content.fi{
        padding: 120px 0px 100px;
        .container{display:block;}
        .bg{display:none;}
        .info{margin-bottom:2em; max-width:100%;}
        .right{
            margin:0px;
            .country-nav{display:none;}
            select{display:block;}

            .fi-list ul li .fi-info .contact i{
                display:block;
                padding:0px;

                &:first-child,&:last-child{padding:0px; border:none;}
            }
        }
    }
}