.home{
    overflow:hidden;
    //HERO SECTION
    .hero{
        width:100%; 
        overflow:hidden;
        position:relative;

        .container{
            display:grid;
            grid-template-columns: 500px 1fr;
            grid-gap:7.5%;
        }

        .intro{
            padding-top:6em;
            .ctas{
                display:flex;
                align-items:center;

                a{
                    display:block;
                    margin-right:1em;
                }
            }
        }

        .intro-assets{
            position:relative;

            .btn{
                display: block;
                position: absolute;
                top: 50%;
                left: 48%;
                transform: translate(40%, 0%);
                padding: 2px 10px;
                font-size: 14px;
            }

            img{
                width: 115%;
                max-width: 1050px;
                min-width: 785px;
            }
        }
    }

    //COUNTRIES SECTION
    .countries{
        padding-top:$section-padding;
        .container{        
            p{max-width:800px; margin:0px auto; text-align:center;}

            ul{
                max-width:450px; 
                margin:3em auto;
                display:flex; 
                justify-content:space-between;
            
                li{
                    max-width:100px;

                    .img{
                        width:100%; 
                        height:40px;
                        border-radius: 5px;
                        overflow: hidden;
                        box-shadow:0 3px 20px rgba(0,0,0,.15);
                        img{width:100%; height:100%; object-fit: cover;}
                    }
                }
            }

            p.note{max-width: 450px; font-size: 16px;}
        }
    }

    //HOW IT WORKS SECTION
    .how{
        padding-top:$section-padding;

        .container{
            position:relative;
            display:grid;
            grid-template-columns: 390px 1fr;
            grid-gap:6em;
            .info{
                padding-top:5em;
                p{margin:0px;}
            }

            .img{
                img{
                    border-radius:10px;
                    display:block; 
                    max-width:1100px;
                    box-shadow: 0 10px 36px 0 rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.06);
                }
            }
        }
    }

    //ANYONE WITH SMARTPHONE SECTION
    .anyone{
        padding:$section-padding 0px 120px;
        /*background-color: #fbf7ed;*/

        .container{
            display:grid;
            grid-template-columns: 540px 630px;
            justify-content:space-between;
        }

        .info{
            p.lg{margin-bottom: 1em;;}
            .choose-path{
                display: flex;
                background-color: #282f28;
                border-radius: 100px;
                font-size: 18px;
                font-weight: 600;
                padding: 5px;
                margin-bottom:3em;

                li{
                    width: 50%;
                    text-align: center;
                }

                span{
                    display: block;
                    width: 100%;
                    padding: 16px 25px;
                    border-radius: 100px;
                    cursor:pointer;
                    color: white;

                    &.active{background-color: $dcash-green;}
                }
            }

            .path-information{
                position:relative;

                >div{
                    opacity:0;
                    visibility:hidden;

                    &.active{
                        opacity:1;
                        visibility:visible;
                    }

                    &:nth-child(2){position:absolute; top:0; left:0;}
                }

                .download{
                    margin-top:2em;
                    padding-top:2em;
                    border-top:1px solid #dbdbbe;
                    p{font-size:14px; color:#62624c;}
                    .ctas{
                        display: flex;
                        max-width:300px;
                        a{display:block; margin-right:0.5em;}
                        img{width:100%;}
                    }
                }
            }
        }

        .carousel{
            transform: translateY(-30px);
            
            img{width: 100%;}
        }
    }



}