#content{padding-top: $header-height;}

.container{
    width:calc(100% - 300px);
   max-width:1800px;
    margin:0px auto;
}

.ctas{
    max-width: 350px;
    display:flex;
    margin-top:3em;
    &.center{margin:3em auto 0;}
    a{
        display: block;
        margin-right: 1em;
        &:last-child{margin-right: 0px;}

        img{max-width:100%;}
    }
}


.eccb-recognition{
    line-height: 1.2; 
    color:#9B9B9B; 
    font-weight: 600; 
    font-size: 0.7em;
    position:fixed;
    bottom:2em;
    left:2.5em;
    text-align: center;

    img{
        width: 100%; 
        max-width:30px; 
        display:block; 
        margin:0px auto 10px;
    }
}

@media screen and (max-width:1500px), screen and(max-device-width:1500px){
    .container{width:calc(100% - 200px);}
}

@media screen and (max-width:950px), screen and(max-device-width:950px){
    .container{width:calc(100% - 35px);}
    .eccb-recognition{display:none;}
}